@font-face {
    font-family: Supreme;
    src: url(./fonts/Supreme-Variable.ttf);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    max-width: 2040px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  
  .third_button {
    border: none;
    background: none;
    color: white;
    font-size: 32px;
    transform: rotate(90deg);
    display: none;
  }
  .second_button {
    border: none;
    background: none;
    color: white;
    font-size: 32px;
    transform: rotate(90deg);
    display: none;
  }
  header {
    /* display: block; */
    display: inline-flex;
    width: 100%;
  }
  
  .menu {
    display: inline-block;
    height: 100vh;
    width: 100px;
    padding-top: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.7;
    background: #000;
    padding: 50px;
  }
  
  .menu_div {
    padding: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transition: 4s;
  }
  
  .menu_button {
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
  }
  
  .menu_counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .landing_page {
    background-color: #666666;
    width: 100%;
    /* height: 100vh; */
    padding: 20px;
    position: relative;
  }
  nav {
    display: flex;
    color: #ffffff;
    padding: 40px;
    justify-content: space-between;
    font-family: Supreme;
  }
  
  .time_location {
    display: flex;
    gap: 39.5px;
  }
  
  .light_mode {
    display: flex;
    flex-direction: row;
    padding: 8px 24px 8px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 56px;
    border: 1px solid #fff;
  }
  
  button {
    border-radius: 56px;
    border: 1px solid #fff;
    display: inline-flex;
    padding: 2px 3px 8px 8px;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
  }
  
  .landing_content {
    color: #fff;
    font-family: Supreme;
    font-size: 96px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 45px;
    transition: font-size 0.3s ease, padding 0.3s ease-in-out;
  }
  .test > p {
    color: var(--White, #fff);
    font-family: Supreme;
  }
  .test {
    transition: flex-direction 0.3s ease-in-out, gap 0.3s ease-in-out,
      padding-left 0.3s ease-in-out;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-left: 200px;
  }
  
  .menu_counter {
    font-family: Supreme;
    color: white;
  }
  
  .menu_counter > span {
    color: gray;
  }
  
  .information > p {
    color: var(--White, #fff);
    font-family: Supreme;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
  }
  .fake_button {
    background-color: #e5e548;
    color: black;
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-family: Supreme;
    cursor: pointer;
    border: none;
  }
  .timer_video {
    flex-shrink: 0;
    width: 100%;
    max-width: 290px;
    height: auto;
  }
  .video_div {
    /* position: absolute; */
    left: 82%;
    top: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .video_div > span {
    color: #fff;
    font-family: Supreme;
    font-size: 14px;
  }
  .landing_text > .information {
    padding-left: 160px;
    padding-top: 50px;
    display: flex;
    gap: 63px;
    align-items: center;
  }
  .yellow_word::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0";
  }
  #arrow {
    position: absolute;
    top: 90%;
    left: 50%;
  }
  .sidebar_img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  
  .side_bar_button {
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    transform: rotateX(3.142rad);
  }
  
  .side_bar_counter {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
  }
  
  .second_page {
    display: flex;
    flex-direction: row;
    display: none;
    transition: margin-left 3s;
  }
  
  .side_bar {
    padding: 30px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    width: 100%;
    background-color: black;
    background-color: var(--white-to-dark);
  }
  
  .nav2 {
    padding: 35px;
  }
  .for {
    text-wrap: nowrap;
    padding-left: 150px;
  }
  .secon_page_menu {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    padding-left: 140px;
  }
  
  .text1 {
    max-width: 420px;
    color: #fff;
    font-family: Supreme;
    font-size: 44px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .socials {
    position: sticky;
    left: 1625px;
    /* padding-top: 20px;
    padding-left: 650px; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  
  .soc {
    color: var(--NeuWhite, #fff);
    font-family: Supreme;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2px;
  }
  
  .ppp {
    padding-top: 32px;
    color: var(--NeuWhite, #fff);
    font-family: Supreme;
    font-size: 14px;
    font-weight: 400;
    line-height: 240%;
    letter-spacing: 1px;
  }
  
  .neuros > h1 {
    color: var(--NeuWhite, #fff);
    font-family: Supreme;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2px;
  }
  
  .pp {
    padding-top: 32px;
    color: var(--NeuWhite, #fff);
    font-family: Supreme;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1px;
  }
  
  .side_bar_counter > p {
    color: #fff;
    text-align: center;
    font-family: Supreme;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  
  .side_bar_counter > span {
    color: #666;
    text-align: center;
    font-family: Supreme;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }
  
  .text1 > h1:hover {
    color: #e5e548;
    cursor: pointer;
    margin-left: -215px;
  }
  
  .text1 > h1:hover:before {
    text-decoration: line-through 0px;
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  }
  
  .text1 > h1:hover::after {
    text-decoration: line-through 0px;
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  }
  .word {
    color: yellow;
  }
  .brands {
    padding-left: 150px;
  }
  .word::before {
    position: absolute;
    color: yellow;
    text-decoration: line-through 0px;
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  }
  :root {
    --dark-to-white: #fff;
    --white-to-dark: #000;
  }
  .dark_theme {
    --white-to-dark: #000;
    --dark-to-white: #fff;
  }
  .menu_icon_box {
    width: fit-content;
    height: auto;
    background: #000;
    margin: 30px;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
  }
  .line1,
  .line2 {
    transition: 0.2s;
    margin: 10px 8px;
    width: 4px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
  }
  .active .line1 {
    transform: translate(0px, 15px) rotate(45deg);
  }
  .active .line2 {
    transform: translate(0px, -15px) rotate(-45deg);
  }
  @media (max-width: 980px) {
    .landing_content {
      padding-left: 0px;
    }
  }
  
  @media (max-width: 950px) {
    .for {
      padding-left: 0px;
    }
    .brands {
      padding-left: 0px;
    }
    .test {
      transition: flex-direction 1s ease-in-out, gap 1s ease-in-out,
        padding-left 1s ease-in-out;
      padding-left: 50px;
    }
    .landing_content {
      transition: font-size 1s ease;
    }
  }
  @media (max-width: 835px) {
    .landing_content {
      padding-left: 0px;
      transition: font-size 2s ease;
    }
    .nav {
      padding-left: 0px;
    }
  }
  @media (max-width: 800px) {
    .landing_content {
      font-size: 46px;
      transition: flex-direction 0.3s ease-in-out, gap 0.3s ease-in-out,
        padding-left 0.3s ease-in-out;
    }
    .yellow_word {
      font-size: 56px;
    }
    .menu {
      width: 60px;
    }
    .secon_page_menu {
      padding-left: 20px;
    }
    .socials {
      padding-left: 30px;
    }
    .menu_counter {
      font-size: 14px;
    }
    .timer_video {
      max-width: 200px;
    }
    .text1 {
      font-size: 36px;
    }
    .side_bar_counter > p {
      font-size: 18px;
    }
    .side_bar_counter > span {
      font-size: 12px;
    }
    .time_location {
      font-size: 10px;
      align-items: center;
    }
  }
  @media (max-width: 970px) {
    .secon_page_menu {
      flex-direction: column;
      padding-left: 35px;
    }
    .side_bar {
      height: 102vh;
    }
    .socials {
      padding-top: 30px;
      flex-direction: row;
    }
  }
  @media (max-width: 580px) {
    .for {
      padding-left: 0px;
    }
    .time_location > p,
    span {
      display: none;
    }
  
    .test {
      display: flex;
      flex-direction: row;
    }
    .secon_page_menu {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    .side_bar {
      display: none;
    }
    .text1 > h1 {
      text-decoration: none;
    }
    .socials {
      display: flex;
      flex-direction: row;
    }
  }
  @media (max-width: 503px) {
    .test {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 464px) {
    .menu {
      display: none;
    }
    .time_location > p,
    span {
      display: none;
    }
    .landing_page {
      height: 100vh;
      background: linear-gradient(to bottom, #808080 50%, #000000 50%);
    }
  
    .landing_content {
      padding-top: 352px;
      color: #fff;
      font-family: Supreme;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 56px */
      letter-spacing: -2px;
      text-transform: uppercase;
      padding-left: 0px;
    }
    #arrow {
      position: absolute;
      left: 300px;
      top: 750px;
    }
    .brands {
      padding-left: 0px;
    }
    .test {
      gap: 80px;
      color: white;
      padding-top: 5px;
      flex-wrap: wrap;
      padding-left: 0px;
    }
    .second_page.menu {
      display: flex;
      flex-direction: column;
    }
    .text1 {
      font-size: 20px;
    }
    .text1 > h1:hover::before {
      color: yellow;
      text-align: center;
      padding-left: 120px;
      content: \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0;
    }
    .soc > h3 {
      font-size: 30px;
    }
    .ppp > p {
      font-size: 10px;
    }
    .second_page {
      height: 100vh;
      width: 100%;
    }
    .second_button {
      display: block;
    }
    .third_button {
      display: block;
    }
    .for {
      padding-left: 0px;
    }
    nav {
      padding: 10px;
    }
    .nav2 {
      padding: 30px;
    }
    .timer_video {
      padding-top: 30px;
      max-width: 390px;
    }
  }
  